---
import { getCollection } from 'astro:content';
import dayjs from 'dayjs';
import AdvancedFormat from 'dayjs/plugin/advancedFormat';
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import Base from '@layouts/Base.astro';
import { cn } from '@lib/cn';
import Block from '@components/Block.astro';
import BodyLink from '@components/BodyLink.astro';
import { isHidden } from '@lib/utils';
dayjs.extend(AdvancedFormat);

export const getStaticPaths = (async () => {
	const articles = await getCollection('articles');
	return articles
		.filter((article) => !isHidden(article))
		.map((article) => ({
			params: { slug: article.slug },
			props: article
		}));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const article = Astro.props;
const { Content } = await article.render();
---

<Base title={article.data.title} description={article.data.description} {article}>
	<article title={article.data.title} class={cn('flex flex-col gap-2')}>
		<nav class={cn('contents')}>
			<Block>
				<BodyLink href="/blog" class="text-lg">My Other Posts</BodyLink>
			</Block>
		</nav>
		<hgroup class={cn('contents')}>
			<Block
				title={article.data.title}
				description={article.data.description}
				subheading={`Posted on ${dayjs(article.data.created).format('Do MMMM YYYY [at] HH:mm')}`}
				largeHeadings
			/>
		</hgroup>
		<main
			class={cn([
				'contents',
				'[&_p]:py-1',
				'[&_h1]:py-4',
				'[&_h2]:py-3',
				'[&_h2]:text-3xl',
				'[&_h2]:font-semibold',
				'[&_h3]:py-3',
				'[&_h3]:text-3xl',
				'[&_h3]:font-semibold',
				'[&_figure]:my-2',
				'[&_.expressive-code]:my-2',
				'[&_:not(pre)>code]:bg-light',
				'[&_:not(pre)>code]:px-1',
				'[&_:not(pre)>code]:text-sm',
				'[&_:not(pre)>code]:dark:bg-dark',
				'[&_h1_code]:text-3xl',
				'[&_h2_code]:text-2xl',
				'[&_h3_code]:text-2xl',
				'[&_ul]:list-inside',
				'[&_ul]:list-disc',
				'[&_li]:py-1'
			])}
		>
			<Block tags={article.data.tags} id="article">
				<Content />
			</Block>
		</main>
	</article>
</Base>
