---
import Block from '@components/Block.astro';
import Section from '@components/Section.astro';
import { cn } from '@lib/cn';

interface Props {
	src: string;
	title: string;
	ariaLabel: string;
}

const { src, title, ariaLabel } = Astro.props;
---

<Section {title}>
	<Block>
		<div class={cn('flex flex-col gap-2')}>
			<slot name="topText" />
			<div class={cn('flex justify-center')}>
				<!--        Binding clientHeight doesn't work here-->
				<iframe
					{src}
					allowfullscreen
					{title}
					aria-label={ariaLabel}
					width="100%"
					id={`${title.replace(' ', '-')}-iframe`}></iframe>
			</div>
			<slot name="bottomText" />
		</div>
	</Block>
</Section>

<script is:inline define:vars={{ title }}>
	const iframe = document.querySelector(`#${title.replace(' ', '-')}-iframe`);

	const reSize = () => {
		if (iframe) {
			const height = (iframe.clientWidth / 16) * 9;
			iframe.height = `${height}px`;
		}
	};

	window.addEventListener('resize', reSize);

	reSize();
</script>
